In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules

### Section I - Data Understanding

### Step #1
Read Data

In [2]:
df_ = pd.read_excel("datasets/online_retail_II.xlsx",
                    sheet_name="Year 2010-2011")

In [13]:
df = df_.copy()
df.head()

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

### Step #2 Analyze Data

In [14]:
df.describe().T

                count          mean          std       min       25%       50%       75%      max
Quantity     541910.0      9.552234   218.080957 -80995.00      1.00      3.00     10.00  80995.0
Price        541910.0      4.611138    96.759765 -11062.06      1.25      2.08      4.13  38970.0
Customer ID  406830.0  15287.684160  1713.603074  12346.00  13953.00  15152.00  16791.00  18287.0

In [15]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [16]:
df.shape

(541910, 8)

### Step #3
Data preparation

In [17]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["Price"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    return dataframe

In [18]:
df = retail_data_prep(df)

In [19]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [20]:
df.describe().T

                count          mean          std        min       25%       50%       75%       max
Quantity     397885.0     11.830770    25.523052      1.000      2.00      6.00     12.00    298.50
Price        397885.0      2.893492     3.227175      0.001      1.25      1.95      3.75     37.06
Customer ID  397885.0  15294.416882  1713.144421  12346.000  13969.00  15159.00  16795.00  18287.00

# Section II - Create ARL Data Structure\

Invoice-Product Matrix

In [22]:
df.head()

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER       8.0 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

In [23]:
df_fr = df[df['Country'] == "France"]

df_fr.groupby(['Invoice', 'Description']).agg({"Quantity": "sum"}).unstack().iloc[0:5, 0:5]

                                  Quantity
Description  50'S CHRISTMAS GIFT BAG LARGE  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK  NINE DRAWER OFFICE TIDY  SET 2 TEA TOWELS I LOVE LONDON
Invoice
536370                                 NaN                NaN                          NaN                      NaN                             24.0
536852                                 NaN                NaN                          NaN                      NaN                              NaN
536974                                 NaN                NaN                          NaN                      NaN                              NaN
537065                                 NaN                NaN                          NaN                      NaN                              NaN
537463                                 NaN                NaN                          NaN                      NaN                              NaN

In [24]:
df_fr.groupby(['Invoice', 'Description']).agg({"Quantity": "sum"}).unstack().fillna(0).iloc[0:5, 0:5]

                                  Quantity
Description  50'S CHRISTMAS GIFT BAG LARGE  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK  NINE DRAWER OFFICE TIDY  SET 2 TEA TOWELS I LOVE LONDON
Invoice
536370                                 0.0                0.0                          0.0                      0.0                             24.0
536852                                 0.0                0.0                          0.0                      0.0                              0.0
536974                                 0.0                0.0                          0.0                      0.0                              0.0
537065                                 0.0                0.0                          0.0                      0.0                              0.0
537463                                 0.0                0.0                          0.0                      0.0                              0.0

In [25]:
df_fr.groupby(['Invoice', 'StockCode']). \
    agg({"Quantity": "sum"}). \
    unstack(). \
    fillna(0). \
    applymap(lambda x: 1 if x > 0 else 0).iloc[0:5, 0:5]

          Quantity
StockCode    10002 10120 10125 10135 11001
Invoice
536370           1     0     0     0     0
536852           0     0     0     0     0
536974           0     0     0     0     0
537065           0     0     0     0     0
537463           0     0     0     0     0

In [26]:
def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)

fr_inv_pro_df = create_invoice_product_df(df_fr)

In [27]:
fr_inv_pro_df = create_invoice_product_df(df_fr, id=True)

In [28]:
def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)

In [29]:
check_id(df_fr, 10120)

['DOGGY RUBBER']

# Section III - Extraction of Association Rules

In [31]:
frequent_itemsets = apriori(fr_inv_pro_df,
                            min_support=0.01,
                            use_colnames=True)

/Users/oe/miniconda3/envs/dsprojects/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [37]:
frequent_itemsets.sort_values("support", ascending=False)[0:10]

       support       itemsets
538   0.773779         (POST)
387   0.187661        (23084)
107   0.179949        (21731)
243   0.172237        (22554)
245   0.169666        (22556)
4844  0.167095  (23084, POST)
185   0.159383        (22326)
2224  0.159383  (21731, POST)
19    0.154242        (20725)
4078  0.151671  (22556, POST)

In [33]:
rules = association_rules(frequent_itemsets,
                          metric="support",
                          min_threshold=0.01)

In [38]:
rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)][0:10]

     antecedents consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
1606     (21080)     (21086)            0.133676            0.138817  0.102828    0.769231   5.541311  0.084271    3.731791
1607     (21086)     (21080)            0.138817            0.133676  0.102828    0.740741   5.541311  0.084271    3.341535
1608     (21080)     (21094)            0.133676            0.128535  0.102828    0.769231   5.984615  0.085646    3.776350
1609     (21094)     (21080)            0.128535            0.133676  0.102828    0.800000   5.984615  0.085646    4.331620
1776     (21086)     (21094)            0.138817            0.128535  0.123393    0.888889   6.915556  0.105550    7.843188
1777     (21094)     (21086)            0.128535            0.138817  0.123393    0.960000   6.915556  0.105550   21.529563
3806     (21987)     (21988)            0.064267            0.056555  0.051414    0.800000  14.145455  0.047779    4.717224
3807     (21988)     (21987)            0.056555            0.064267  0.051414    0.909091  14.145455  0.047779   10.293059
5518     (22662)     (22382)            0.084833            0.120823  0.051414    0.606061   5.016119  0.041164    2.231758
5519     (22382)     (22662)            0.120823            0.084833  0.051414    0.425532   5.016119  0.041164    1.593069

In [35]:
check_id(df_fr, 21086)

['SET/6 RED SPOTTY PAPER CUPS']

In [39]:
rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]. \
sort_values("confidence", ascending=False)[0:10]

                 antecedents consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
23707         (21080, 21094)     (21086)            0.102828            0.138817  0.100257    0.975000   7.023611  0.085983   34.447301
23706         (21080, 21086)     (21094)            0.102828            0.128535  0.100257    0.975000   7.585500  0.087040   34.858612
108820  (21080, POST, 21086)     (21094)            0.084833            0.128535  0.082262    0.969697   7.544242  0.071358   28.758355
108822  (21080, POST, 21094)     (21086)            0.084833            0.138817  0.082262    0.969697   6.985410  0.070486   28.419023
1777                 (21094)     (21086)            0.128535            0.138817  0.123393    0.960000   6.915556  0.105550   21.529563
26078          (POST, 21094)     (21086)            0.107969            0.138817  0.102828    0.952381   6.860670  0.087840   18.084833
9026                 (23256)     (23254)            0.069409            0.071979  0.064267    0.925926  12.863757  0.059271   12.528278
213932  (22728, POST, 22726)     (22727)            0.064267            0.095116  0.059126    0.920000   9.672432  0.053013   11.311054
3807                 (21988)     (21987)            0.056555            0.064267  0.051414    0.909091  14.145455  0.047779   10.293059
9027                 (23254)     (23256)            0.071979            0.069409  0.064267    0.892857  12.863757  0.059271    8.685518

### Section IV - Project Script

In [42]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["Price"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    return dataframe


def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)


def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)


def create_rules(dataframe, id=True, country="France"):
    dataframe = dataframe[dataframe['Country'] == country]
    dataframe = create_invoice_product_df(dataframe, id)
    frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
    return rules

In [44]:
df = df_.copy()
df = retail_data_prep(df)

In [45]:
rules = create_rules(df)

rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]. \
sort_values("confidence", ascending=False)[0:10]

/Users/oe/miniconda3/envs/dsprojects/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

                 antecedents consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
23707         (21080, 21094)     (21086)            0.102828            0.138817  0.100257    0.975000   7.023611  0.085983   34.447301
23706         (21080, 21086)     (21094)            0.102828            0.128535  0.100257    0.975000   7.585500  0.087040   34.858612
108820  (21080, POST, 21086)     (21094)            0.084833            0.128535  0.082262    0.969697   7.544242  0.071358   28.758355
108822  (21080, POST, 21094)     (21086)            0.084833            0.138817  0.082262    0.969697   6.985410  0.070486   28.419023
1777                 (21094)     (21086)            0.128535            0.138817  0.123393    0.960000   6.915556  0.105550   21.529563
26078          (POST, 21094)     (21086)            0.107969            0.138817  0.102828    0.952381   6.860670  0.087840   18.084833
9026                 (23256)     (23254)            0.069409            0.071979  0.064267    0.925926  12.863757  0.059271   12.528278
213932  (22728, POST, 22726)     (22727)            0.064267            0.095116  0.059126    0.920000   9.672432  0.053013   11.311054
3807                 (21988)     (21987)            0.056555            0.064267  0.051414    0.909091  14.145455  0.047779   10.293059
9027                 (23254)     (23256)            0.071979            0.069409  0.064267    0.892857  12.863757  0.059271    8.685518

# Section V - Suggesting Products to Users in the Cart Stage

In [46]:
product_id = 22492
check_id(df, product_id)

['MINI PAINT SET VINTAGE ']

In [47]:
sorted_rules = rules.sort_values("lift", ascending=False)

In [48]:
recommendation_list = []

for i, product in enumerate(sorted_rules["antecedents"]):
    for j in list(product):
        if j == product_id:
            recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

recommendation_list[0:3]

[22556, 22551, 22326]

In [49]:
check_id(df, 22326)

['ROUND SNACK BOXES SET OF4 WOODLAND ']

In [50]:
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    for i, product in enumerate(sorted_rules["antecedents"]):
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

    return recommendation_list[0:rec_count]

In [51]:
arl_recommender(rules, 22492, 1)

[22556]

In [52]:
arl_recommender(rules, 22492, 2)

[22556, 22551]

In [53]:
arl_recommender(rules, 22492, 3)

[22556, 22551, 22326]